/* global */
html, body{
	height: calc(100% - 40px);
	display: block;
	padding-top:  50px;
}
form.loginform{
	position: absolute;
	top: 50%;
	left:  50%;
	transform: translate(-50%, -50%);
}
button.btn, form a.btn{
	padding:  .5rem 3rem;
	margin:  2em auto 0 auto;
}
ul{
	list-style: none;
	padding-left: 0;
}
ul a.btn{
	display: block;
	margin-bottom: 1px;
	text-align: left;
}
ul li.active a{
	font-weight: 700;
}
h1{
	line-height: 1;
}
textarea{
	margin-top: 1rem;
}
form .col{
	text-align: center;
}