/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}


/* global */
body{
	min-height: 100%;
}

.error img{
	width: 100%;
	height:  auto;
}

.container{
	width: 800px;
	max-width:  calc(100% - 20px);
	margin:  0 auto;
}

/* typo */
body{
	font-size: 16px;
	font-family: Arial, Helvetica;
	line-height: 1.4;
	padding-bottom: 2em;
}
h1{
	text-align: center;
	margin-top: 2em;
	font-size: 2em;
	text-transform: uppercase;
	color:  orange;
	font-family: Arial, Helvetica;
	margin-bottom: 2em;
	line-height: 1.4;
	transform: rotate(5deg);
}

header{
	height:  100px;
	position: relative;
	border-bottom:  1px solid black;
}
.logo{
	float: left;
}
.logo img{
	height:  100px;
}
nav{
	position: absolute;
	right:  20px;
	top:  50%;
}
nav ul{
	float: right;
}
nav li{
	display: inline-block;
	padding: 0 2em;
}
nav a{
	text-decoration: none;
	padding: .5em .5em;
	color:  orange;
	position: relative;
	font-weight: 700;
}
nav a:after{
	content:  '';
	position: absolute;
	height:  1px;
	background-color: orange;
	width:  0;
	bottom:  0;
	left:  50%;
	transform: translateX(-50%);
	transition: width .4s;
}
nav a:hover:after{
	width:  100%;
}