RewriteEngine On

RewriteCond %{SCRIPT_FILENAME} !-d
RewriteCond %{SCRIPT_FILENAME} !-f

RewriteRule ^page/(\d+)*$ ./index.php?id=$1 [L]
RewriteRule ^admin/(\d+)*$ ./index.php?id=$1&admin [L]

ErrorDocument 400 /index.php?id=9999
ErrorDocument 401 /index.php?id=9999
ErrorDocument 403 /index.php?id=9999
ErrorDocument 404 /index.php?id=9999
ErrorDocument 500 /index.php?id=9999
ErrorDocument 503 /index.php?id=9999